

<h2>Trang dang ky thành viên</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
<table>
    <tr>
        <td>
            Họ tên khách hàng:
        </td>
        <td>
            @Html.TextBox("HotenKH")
            @ViewData["Loi1"]
        </td>
    </tr>
    <tr>
        <td>
            Tên đăng ký:
        </td>
        <td>
            @Html.TextBox("TenDN")
            @ViewData["Loi2"]
        </td>
    </tr>
    <tr>
        <td>
            Mật khẩu:
        </td>
        <td>
            @Html.Password("Matkhau")
            @ViewData["Loi3"]
        </td>
    </tr>
    <tr>
        <td>
            Nhập lại Mật khẩu:
        </td>
        <td>
            @Html.Password("Matkhaunhaplai")
            @ViewData["Loi4"]
        </td>
    </tr>
    <tr>
        <td>
            Email:
        </td>
        <td>
            @Html.TextBox("Email")
            @ViewData["Loi5"]
        </td>
    </tr>
    <tr>
        <td>
            Điện thoại
        </td>
        <td>
            @Html.TextBox("Dienthoai")
            @ViewData["Loi6"]
        </td>
    </tr>
    <tr>
        <td>
            Địa chỉ
        </td>
        <td>
            @Html.TextBox("Diachi")
            @ViewData["Loi7"]
        </td>
    </tr>
    <tr>
        <td>
            Ngày sinh
        </td>
        <td>
            <input type="date" name="Ngaysinh" />
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <input type="submit" name="" value="Đăng ký" />
        </td>
    </tr>
</table>
}

